---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ThumbnailGallery from "../components/ThumbnailGallery.astro";
import Deities from "../components/Deities.astro";
---

<Layout title="Welcome to Astro.">
  <div class="grid grid-cols-1 lg:grid-cols-12 gap-0 lg:gap-8">
    <div class="col-span-1 lg:col-span-9 mb-10">
      <ThumbnailGallery />
    </div>
    <div class="col-span-1 lg:col-span-3 mt-5 lg:mt-0">
      <Deities />
    </div>
  </div>
</Layout>
