---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
	<div class="my-6 flex justify-between">
		<div class="bg-[#d00000] w-56 p-6">NBF</div>
	</div>
</Layout>
