---

---

<swiper-container
  class="mySwiper"
  autoplay-delay="5000"
  grab-cursor="true"
>
  <swiper-slide>
    <div><span>Buddha Shakyamuni – The Historical Buddha</span></div>
    <img
      src="/deities-webp/Buddha-Shakyamuni-The-Historical-Buddha.webp"
      alt="Buddha Shakyamuni – The Historical Buddha"
    />
  </swiper-slide>
  <swiper-slide>
    <div><span>Buddha Maitreya – The Future Buddha</span></div>
    <img
      src="/deities-webp/Buddha-Maitreya-The-Future-Buddha.webp"
      alt="Buddha Maitreya – The Future Buddha"
    />
  </swiper-slide>
  <swiper-slide>
    <div><span>Avalokiteshvara – Bodhisattva of Compassion</span></div>
    <img
      src="/deities-webp/Avalokiteshvara-Bodhisattva-of-Compassion.webp"
      alt="Avalokiteshvara – Bodhisattva of Compassion"
    />
  </swiper-slide>
  <swiper-slide>
    <div><span>Manjushri – Bodhisattva of Wisdom</span></div>
    <img
      src="/deities-webp/Manjushri-Bodhisattva-of-Wisdom.webp"
      alt="Manjushri – Bodhisattva of Wisdom"
    />
  </swiper-slide>
  <swiper-slide>
    <div><span>Mahakala – The Guardian</span></div>
    <img
      src="/deities-webp/Mahakala-The-Guardian.webp"
      alt="Mahakala – The Guardian"
    />
  </swiper-slide>
  <swiper-slide>
    <div><span>Tara (Green and White) – Female Deity</span></div>
    <img
      src="/deities-webp/Tara-Green-and-White-Female-Deity.webp"
      alt="Tara (Green and White) – Female Deity"
    />
  </swiper-slide>
  <swiper-slide>
    <div><span>Padmasambhava – Guru Rinpoche</span></div>
    <img
      src="/deities-webp/Padmasambhava-Guru-Rinpoche.webp"
      alt="Padmasambhava – Guru Rinpoche"
    />
  </swiper-slide>
  <swiper-slide>
    <div><span>Palden Lhamo – Female Guardian</span></div>
    <img
      src="/deities-webp/Palden-Lhamo-Female-Guardian.webp"
      alt="Palden Lhamo – Female Guardian"
    />
  </swiper-slide>
  <swiper-slide>
    <div><span>Tsongkhapa – Founder of Religion</span></div>
    <img
      src="/deities-webp/Tsongkhapa-Founder-of-Religion.webp"
      alt="Tsongkhapa – Founder of Religion"
    />
  </swiper-slide>
  <swiper-slide>
    <div><span>Vajrapani-Bodhisattva-of-Power</span></div>
    <img
      src="/deities-webp/Vajrapani-Bodhisattva-of-Power.webp"
      alt="Vajrapani – Bodhisattva of Power"
    />
  </swiper-slide>
</swiper-container>

<style>
  swiper-container {
    width: 100%;
    height: auto;
  }

  swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
  }

  swiper-slide div {
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    padding: 7px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    line-height: 16px;
    background-color: #000;
    opacity: 0.7;
    border-radius: 7px;
    z-index: 50;
  }
  swiper-slide div span {
    opacity: 1 !important;
    z-index: 51;
    color: #fff;
  }
</style>
<!-- <script
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
></script> -->
