---
import LogoNbf from "../images/logo-nbf.png";
import EightS from "../images/8s.png";
import { Image } from "astro:assets";
---

<div class="flex justify-center my-5">
  <Image src={LogoNbf} alt="NBF" width={354} height={123} />
</div>
