---
// Menu
---

<div class="pt-4 pb-2 mb-5 border-y border-y-[#81040F] hidden lg:flex gap-14">
  <a href="/">Home</a>
  <a href="/">About Us</a>
  <a href="/">News & Articles</a>
  <a href="/">Press Releases</a>
  <a href="/">Monastic Education</a>
  <a href="/">Environment</a>
  <a href="/">Photos / Videos</a>
  <a href="/">Contact Us</a>
</div>

<style>
  a {
    font-weight: 400;
    font-size: 13px;
    color: #cccccc;
    text-transform: uppercase;
  }

  a:hover {
    color: #ffffff;
  }
</style>
