---
// Menu
---

<div class="pt-4 pb-2 mb-5 border-y border-y-[#e85d04] hidden lg:flex gap-8">
  <a href="/">Home</a>
  <a href="/">About Us</a>
  <a href="/">News & Articles</a>
  <a href="/">Press Releases</a>
  <a href="/">Monastic Education</a>
  <a href="/">Environment</a>
  <a href="/">Photos / Videos</a>
  <a href="/">Contact Us</a>
</div>

<style>
  a {
    font-weight: 500;
    text-transform: uppercase;
    color: white;
  }

  a:hover {
    color: black;
  }
</style>
