---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import Header from "../components/Header.astro";
import Menu from "../components/Menu.astro";
import MarqueeTicker from "../components/MarqueeTicker.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Site description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<GoogleFontsOptimizer
			url="https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@200;500&family=Noto+Serif+Tibetan:wght@300;500&display=swap"
		/>
	</head>
	<body>
		<MarqueeTicker />
		<main class="mx-3 lg:mx-auto lg:max-w-6xl">
			<Header />
			<Menu />
			<slot />
		</main>
		<style is:global>
			html,
			body {
				position: relative;
				height: 100%;
			}
			html {
				font-family: "Noto Sans Devanagari", sans-serif;
				background: #d00000;
			}
			.tibetan {
				font-family: "Noto Serif Tibetan", serif;
			}
		</style>
	</body>
</html>
